footer {
    color: #fff;
    padding: 20px 0px;
    font-size: 20px;
    background-color: #04449b;
    margin-top: 5vh;
}

header {
    background-color: #04449b;
}
.principal{
    margin-top: 10vh;
}
.boton {
    text-decoration: none;
    color: white;
    background-color: #04449b;
}

a {
    text-decoration: none;
    color: white;
}

select {
    cursor: pointer;
}

.usuario {
    display: flex;
    align-items: center;
    justify-content: space-around;


}

